fastapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-pinecone
langchain-community
langchain-text-splitters
langchain-groq
langchain-cohere
cohere
pinecone
pypdf
python-multipart
email-validator