GROQ_API_KEY
PINECONE_API_KEY
PINECONE_INDEX_NAME
COHERE_API_KEY
DATABASE_URL
GOOGLE_CLIENT_ID
JWT_SECRET
FRONTEND_URL
ADMIN_SECRET

EMAIL_MODE
EMAIL_FROM
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASSWORD

SUPABASE_DATABASE_PASSWORD
SUPABASE_URL
SUPABASE_SERVICE_KEY

RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET
